<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Samplesaurus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.typekit.net/eku8qrr.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

		<link rel="stylesheet" href="style.css">

		<link href="//cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>

		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
	</head>
	<body class="h-screen bg-grey-darkest">
		<div id="app" class="w-full p-0 min-h-full flex flex-col">
			<div id="site-wrapper" class="mx-auto flex flex-col lg:flex-row content-start justify-start h-full bg-grey">
				<div class="lg:p-6 lg:w-1/4">
					<div id="branding" class="mx-auto max-w-200 flex flex-row items-center justify-center pt-4">
						<img src="images/samplesaurus_logo.png" alt="Samplesaurus-Rex Logo" class="pr-4">
						<h1 class="text-center ccmonstermash">Samplesaurus!</h1>
					</div>

					<p id="site-desc" class="p-8 mx-auto text-center">
						Quickly sample a color palette on a UI template to see how colors interact.<br>
					</p>

					<transition name="shrink-fade-down">
						<div id="palette-container" v-show="showPalette">
							<h2 class="mt-4 text-center">Your Color Palette</h2>
							<p class="p-2 mx-auto text-center">
								Define your color palette by entering hex values below.
							</p>
							<div id="palette" class="flex flex-row content-center justify-center pt-4 pb-8">
								<div
									v-for="swatch in palette" 
									:key="swatch.key">
									<swatch :swatch="swatch"></swatch>
								</div>
							</div>
							<button title="Shrink palette" @click.prevent="showPalette = false" class="text-center text-black mb-4 inline-block w-full lg:hidden no-underline">
								<i class="fa fa-2x fa-fw" :class="[ showPalette ? 'fa-caret-up' : 'fa-caret-down' ]"></i>
							</button>
						</div>
					</transition>
				</div>
				<div class="lg:w-3/4">
					<div id="sample_page" class="flex flex-row w-full pb-12 mx-auto lg:h-full" v-bind:style="getStyle('bg_page')">
						<div class="w-full flex-initial mb-12">
							<div class="w-full flex flex-row items-center justify-between h-12 bg-grey-light mb-12 p-4">
								<div class="w-1/2">
									<transition name="fade">
										<button id="mini-palette" title="Expand palette" @click.prevent="showPalette = true" v-show="!showPalette" class="flex flex-row content-center justify-center p-4">
											<div
												v-for="swatch in palette" 
												:key="swatch.key">
												<div class="mini-swatch " :style="{ backgroundColor: swatch.hex }"></div>
											</div>
										</button>
									</transition>
								</div>
								<button title="Toggle controls within layout" class="float-right no-underline text-grey-darker" @click.prevent="showDropdowns=!showDropdowns">
									<i class="far fa-fw" :class="[ (showDropdowns) ? 'fa-eye' : 'fa-eye-slash' ]"></i>
								</button>
							</div>
							<div class="px-12">
								<div v-if="showDropdowns" class="text-center w-full">
									<circledropdown :model="findSettingByName('bg_page')[0]" :options="paletteOptions"></circledropdown>
								</div>
								<header class="mb-4" v-bind:style="getStyle('font_h')">
									<h1>Sample Heading <circledropdown v-if="showDropdowns" :model="findSettingByName('font_h')[0]" :options="paletteOptions" :settings="{ axis: 'y' }"></circledropdown></h1>
									<h2>Sample Subheading</h2>
								</header>

								<article class="my-4" v-bind:style="getStyle('font_p')">
									<p class="my-4">
										<div class="float-right">
											<circledropdown v-if="showDropdowns" :model="findSettingByName('font_p')[0]" :options="paletteOptions" :settings="{ axis: 'y' }"></circledropdown>
										</div>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <a v-bind:style="getStyle('font_a')" href="#">incididunt</a> <circledropdown v-if="showDropdowns" :model="findSettingByName('font_a')[0]" :options="paletteOptions" :settings="{ axis: 'y' }"></circledropdown> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse <a v-bind:style="getStyle('font_a')" href="#"> cillum dolore eu fugiat</a> nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
									<ul class="my-4" v-bind:style="getStyle('font_li')">
										<li>List item 1 <circledropdown v-if="showDropdowns" :model="findSettingByName('font_li')[0]" :options="paletteOptions"></circledropdown></li>
										<li>List item 2</li>
										<li>List item 3</li>
										<li>List item 4</li>
									</ul>
									<p class="my-4">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</p>
									<p class="my-4">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
								</article>
								<h3 class="mt-12" v-bind:style="getStyle('font_h')">Here's a form!</h3>
								<form class="flex flex-col">
									<fieldset class="py-2">
										<input class="text-lg block px-3 py-2 my-4 border w-full md:w-1/2" type="text" placeholder="Text Input">
										<input class="text-lg block px-3 py-2 my-4 border md:w-24" type="number" placeholder="123">
										<select class="text-lg block px-3 py-2 my-4 border w-1/2 md:w-1/4">
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select>
									</fieldset>
									<fieldset class="py-2 w-full">
										<button v-bind:style="[getStyle('bg_button'), getStyle('font_button')]" class="font-bold text-lg display-block px-3 py-2 my-4 border w-full sm:w-1/3 lg:w-32">Button</button> <circledropdown v-if="showDropdowns" :model="findSettingByName('font_button')[0]" :options="paletteOptions" :settings="{ axis: 'y' }"></circledropdown> <circledropdown v-if="showDropdowns" :model="findSettingByName('bg_button')[0]" :options="paletteOptions" :settings="{ axis: 'x' }"></circledropdown>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="py-8 w-full text-center text-white text-xs">
				Copyright ©2018 Nathan Blair
			</footer>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>