body {
	font-family:  futura-pt, sans-serif;
	background-color: #666;
}

#site-wrapper {
	background-color: #EEE;
}

.futura {
	font-family:  futura-pt, sans-serif;
}

.ccmonstermash {
	font-family: ccmonstermash, sans-serif;
	letter-spacing: 1px;
}

#branding img {
	height: 35px;
}
	@media screen and (min-width:400px) {
		#branding img {
			height: 35px;
		}
	}

#branding h1 {
	color: #222;
}

.swatch {
	position: relative;
	cursor: move;
}
	.swatch:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.swatch-label {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: calc(50% - 0.6em);
		font-size: 3em;
		font-weight: 600;
	}

.color-circle {
	position: relative;
	border-radius:50%;
	width: 30px;
	box-sizing: border-box;
	cursor: pointer;
}
	.color-circle {
		width: 30px;
	}
	.circle-menu .color-circle {
		width: 30px;
	}
		.circle-menu .circle-selected {
			border: 2px solid red;
		}
		.circle-menu .color-circle:hover {
			opacity: .7;
			cursor: pointer;
		}
	.color-circle:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.color-circle > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

#site-wrapper {
	/* max-width: 800px; */
}



/**
 * Vue Transitons
**/
/* SLIDE-FADE */
.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .2s ease;
}
.slide-fade-enter { 
	transform: translateX(-50px);
	opacity: 0;
}
.slide-fade-leave-to {
	transform: translateX(-50px);
	opacity: 0; 
}

/* FADE */
.fade-enter-active {
	transition: all .3s ease;
}
.fade-leave-active {
	transition: all .2s ease;
}
.fade-enter {
	opacity: 0;
}
.fade-leave-to {
	opacity: 0; 
}



