body {
	font-family:  futura-pt, sans-serif;
	background-color: #EEE;
}

.futura {
	font-family:  futura-pt, sans-serif;
}

.ccmonstermash {
	font-family: ccmonstermash, sans-serif;
	letter-spacing: 1px;
}

#branding img {
	height: 35px;
}
	@media screen and (min-width:400px) {
		#branding img {
			height: 35px;
		}
	}

#branding h1 {
	color: #222;
}

.swatch {
	position: relative;
}
	.swatch:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.swatch-label {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: calc(50% - 0.6em);
		font-size: 3em;
		font-weight: 600;
	}
	
.color-circle {
	position: relative;
	border-radius:50%;
	width: 30px;
}
	.color-circle:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.color-circle > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

#site-desc {
	max-width: 800px;
}