/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
body {
	font-family:  futura-pt, sans-serif;
}

.futura {
	font-family:  futura-pt, sans-serif;
}

.swatch {
	position: relative;
	/* cursor: move; */
}
	.swatch:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.swatch-label {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: calc(50% - 0.6em);
		font-size: 3em;
		font-weight: 600;
	}

#mini-palette {
	width: 70px;
}


.circle-menu.menu-vertical {
	flex-direction: column;
	margin-left: -0.2em;
	margin-top: -0.3em;
	z-index: 1;
	top: 0px;
}
	.menu-horizontal {
		margin-top: -1.7em !important;
		margin-left: -0.3em !important;
	}
	.menu-vertical .dropdown-option {
		flex-direction: column;
		justify-items: center;
	}
	.menu-vertical .dropdown-option .color-circle {
		margin-left: 0;
		margin-top: 0.25em;
	}
	.menu-horizontal .dropdown-option .color-circle {
		margin-top: 0;
		margin-left: 0.25em;
	}
	.color-circle {
		position: relative;
		border-radius:50%;
		width: 1.2em;
		box-sizing: border-box;
		cursor: pointer;
	}
		.circle-menu .circle-selected {
			border: 2px solid red;
		}
		.circle-menu .color-circle:hover {
			opacity: .7;
			cursor: pointer;
		}
	.color-circle:before {
		content: '';
		padding-top: 100%;
		display: block;
	}
	.color-circle > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.circle-dropdown-label {
		font-size: .9em;
	}
	.dropdown-option {
		transition: all .3s ease;
	}


/**
 * Vue Transitons
**/
/* SLIDE-FADE-RIGHT */
.slide-fade-right-enter-active {
	transition: all .3s ease;
}
.slide-fade-right-leave-active {
	transition: all .2s ease;
}
.slide-fade-right-enter { 
	transform: translateX(-50px);
	opacity: 0;
}
.slide-fade-right-leave-to {
	transform: translateX(-50px);
	opacity: 0; 
}


/* SLIDE-FADE-DOWN */
.slide-fade-down-enter-active {
	transition: all .3s ease;
}
.slide-fade-down-leave-active {
	transition: all .2s ease;
}
.slide-fade-down-enter { 
	transform: translateY(-50px);
	opacity: 0;
}
.slide-fade-down-leave-to {
	transform: translateY(-50px);
	opacity: 0; 
}

/* FADE */
.fade-enter-active {
	transition: all .3s ease;
}
.fade-leave-active {
	transition: all .2s ease;
}
.fade-enter {
	opacity: 0;
}
.fade-leave-to {
	opacity: 0; 
}


/* SHRINK-FADE-DOWN */
.shrink-fade-down-enter-active {
	transition: all .3s ease;
}
.shrink-fade-down-leave-active {
	transition: all .2s ease;
}
.shrink-fade-down-enter {
	transform: translateY(-150px) scale(0.3);
	opacity: 0;
}
.shrink-fade-down-leave-to {
	transform: translateY(-150px) scale(0.3);
	opacity: 0; 
}


/* SLIDE-OPEN-RIGHT */
.slide-open-right-enter-active {
	transition: all .3s ease;
}
.slide-open-right-leave-active {
	transition: all .2s ease;
}
.slide-open-right-enter {
	transform: translateX(-150px) scaleX(0.8);
	opacity: 0;
}
.slide-open-right-leave-to {
	transform: translateX(-150px) scaleX(0.8);
	opacity: 0; 
}


.sidebar-arrow {
	right: 50%;
	bottom: 0;
	margin-bottom: -2rem;
	margin-right: -2rem;
}

@media screen and (min-width: 992px) {
	.sidebar-arrow {
		right: 0%;
		top: 50%;
		bottom: initial;
	}
}